.Container {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  /* position: relative;s */
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 56px;
  /* padding-left: 16%; */
  gap: 80px;
  transition: 500ms;
}
.ContainerDark {
  width: 100vw;
  height: 200vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  padding-top: 100px;
  /* padding-left: 16%; */
  gap: 80px;
  background-color: black;
  transition: 500ms;
}
.titleCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
}
.text {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
}
.textWhite {
  color: white;
}
.titleDefault {
  color: black;
}
.textDefault {
  color: #6d7d8b;
}
.blogsCont {
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

.blogsInnerCont {
  width: 1300px;
  display: flex;
  padding-top: 40px;
  gap: 80px;
  flex-wrap: wrap;
}

.loader {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonCont {
  width: 100%;
  margin-top: 80px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.grayButton {
  background-color: #6d7d8b;
  border: #6d7d8b;
}

@media only screen and (max-width: 1100px) {
  .Container {
    padding-left: 4%;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 1000px) {
  .Container {
    padding-left: 4%;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 900px) {
  .title {
    font-size: 35px;
  }
  .text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 560px) {
  .Container {
    padding-left: 6%;
  }
  .title {
    font-size: 30px;
  }
  .text {
    font-size: 15px;
  }
}
