.rContainer {
  width: 376px;
  height: 374px;
  min-width: 376px;
  min-height: 374px;
  box-shadow: 0px 0px 13px 2px black;
  padding: 35px 35px 35px 35px;
  /* border: 1px solid black; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.checked {
  color: orange;
}

.rStarContainer {
  display: flex;
  justify-content: start;
  gap: 5px;
}
.rTextContainer {
  /* border: 1px solid black; */
  padding-right: 18px;
  padding-top: 20px;
}
.rText {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  text-align: start;
  font-weight: bold;
  margin: 0;
  line-height: 2;
}
.rWhite {
  color: white;
}
.rBorder {
  border: 1px solid white;
}
.rProfileContainer {
  display: flex;
  /* margin-top: 60px; */
  /* margin-bottom: 20px; */
  align-items: center;
  gap: 25px;
}
.fa {
  font-size: 20px;
}
.rProfileImg {
  width: 56px;
  height: 56px;
  border-radius: 30px;
}
.rProfileName {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
