.Container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-2560x1440-1455.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}   

.player1Cont {
    width: 100%;
    display: flex;
    justify-content: center;
}
.player1 {
    display: flex;
    border: 1px solid black;
    align-items: center;
    flex-direction: column;
}
.card {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.player23Cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.player2 {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  
    align-items: center;
}
.player4Cont {
    width: 100%;
    display: flex;
    justify-content: center;
}